extends layout

block content
  table.score-table
    tbody
      tr.titleOrange
        td.headerRow(colspan="2")
          span.scoreboardTitle scoreboard
          ul
            li
              span.boldText 1 tap
              span  to add
            li
              span.boldText 2 tap
              span  to subtract
            li
              span.boldText hold
              span  to end game

      tr
        td.score-area.centered-content.slalom-blue-background.player1
          div.player #{player1}
          div.scoreholder
            span.scoreNub.homeScoreNub
            div#homeTeam.centered-content.homeScoreBox.scoreboardScore.text #{scoreHome}

        td.score-area.centered-content.slalom-blue-text
          div.player #{player2}
          div.scoreholder
            span.scoreNub.awayScoreNub
            div#awayTeam.centered-content.awayScoreBox.scoreboardScore.text #{scoreAway}
