doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/scoreboard.js")
