a {
  color: #00B7FF;
}

table.score-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: silom;
}

div.centered-content {
  text-align: center;
}

div.text {
  font-size: 225px;
}

td.score-area {
  width: 50%;
}

div.awayScoreBox {
  background-color:   #F5F8FC;
  -moz-box-shadow:    inset 0 0 10px #D7D5EB;
  -webkit-box-shadow: inset 0 0 10px #D7D5EB;
  box-shadow:         inset 0 0 10px #D7D5EB;
}

div.homeScoreBox {
  background-color:   #2A6DB5;
  -moz-box-shadow:    inset 0 0 10px #205D9D;
  -webkit-box-shadow: inset 0 0 10px #205D9D;
  box-shadow:         inset 0 0 10px #205D9D;
}

div.scoreholder {
  padding: 0 20%;
}

div.scoreboardScore {
  padding: 10% 15%;
  align-content: center;
  padding: 5% 0;
  margin: 0 auto;
}
.awayScoreNub {
  background-color: #8EB1D9;
  right: 22%;
}

.homeScoreNub {
  background-color: #85A9D5;
  left: 22%;
}

span.scoreNub {
  align-content: center;
  padding: 1% 3%;
  position: absolute;
}

div.player {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8%;
  font-size: 27px;
}

.player1 {
  color: White;
}

tr.titleOrange {
  background-color: #FF9702;
  font-family: sans-serif;
}

td.headerRow {
  height: 14%;
  color: White;
  padding: 0 35px;
}

span.scoreboardTitle {
  text-transform: uppercase;
  font-size: 30px;
  vertical-align: middle;
  float: left;
}

span.boldText {
  font-weight: bold;
}
ul {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin: 0;
}
ul li {
  font-size: 25px;
  list-style: none;
  display: inline;
  padding: 0 5px;
}

ul li:after {
  content: " \2022";
}

ul li:last-child:after {
  content: none;
}

.slalom-blue-text {
  color: #3071C7
}

.slalom-blue-background {
  background-color: #3071C7
}
